<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant catalogue for you">
  <meta name="theme-color" content="#F9FCFB"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="/manifest.a1a96ff21be7096db19cb44faf090647.json">
  <link rel="icon" href="./favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200,400;600;700;800&display=swap" rel="stylesheet">
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>EatExplore</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <!-- App Bar -->
  <header class="navbar-container">
    <div class="navbar-brand">
      <img src="images/logo.png" alt="Company Logo" tabindex="0">
    </div>

    <button id="menu" class="header__menu" aria-label="Click to Menu">☰</button>
    <nav id="drawer" class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#/home">Home</a></li>
        <li class="nav-item"><a href="#/favorite">Favorite</a></li>
        <li class="nav-item"><a href="https://github.com/hendriprst">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <section class="hero" style="background: #333 url(images/heros/hero-image_4.jpg) no-repeat center center/cover;">
      <h1 class="hero-title">Bon Appétit</h1>
      <p class="hero-tagline">Eat Well, Live Well, Be Well</p>
    </section>

    <section id="maincontent" class="explore-container" tabindex="0"></section>
  </main>

  <footer>
    <p>Copyright &copy; <a href="https://github.com/hendriprst" tabindex="-1">EatExplore</a> All right reserved</p>
  </footer>
</body>
</html>
