<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/heros/favicon.ico">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200,400;600;700;800&display=swap" rel="stylesheet">
  
  <title>Dahar</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <!-- App Bar -->
  <header class="navbar-container">
    <div class="navbar-brand" tabindex="1">
      <img src="images/heros/Company Logo.png" alt="Company Logo">
    </div>

    <a id="menu" class="header__menu">☰</a>
    <nav id="drawer" class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item"><a href="https://github.com/hendriprst">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <!-- Hero -->
    <section class="hero" style="background: #333 url('images/heros/hero-image_4.jpg') no-repeat center center/cover;">
      <h1 class="hero-title">Bon Appétit</h1>
      <p class="hero-tagline">Eat Well, Live Well, Be Well</p>
    </section>

    <!-- Explore Restaurant -->
    <section id="maincontent" class="explore-container">
      <h2 class="explore-title" tabindex="0">Explore Restaurants</h2>
      <div id="card-list" class="cards"></div>
    </section>
  </main>

  <footer>
    <p>Copyright &copy; <a href="https://github.com/hendriprst" tabindex="-1">Dahar</a> All right reserved</p>
  </footer>
</body>
</html>
