:root {
  --color-primary: #FD5E53;
  --color-neutral: #F9FCFB;
  --color-secondary: #21BF73;
  --color-tertiary: #B0EACD;
  --color-text: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--color-text);
  background: var(--color-neutral);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--color-primary);
  color: white;
  padding: 8px;
  z-index: 1000;
}
 
.skip-link:focus {
   top: 0;
}

button {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 0.75em;
}

/* App Bar */
.navbar-container {
  width: 100%;
  margin-inline: auto;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-around;
  background: var(--color-neutral);
  border-bottom: 4px solid var(--color-secondary);
  align-items: center;
  padding-block: 1rem;
  z-index: 999;
}
 
.navbar-brand img {
  height: 32px;
  width: auto;
  justify-self: start;
  cursor: pointer;
}

.header__menu {
  min-width: 44px;
  min-height: 44px;
  font-size: 32px;
  margin: 8px 0;
  display: block;
  justify-self: end;
  width: 30px;
  border: none;
  background: none;
}
 
.nav-list {
  padding-left: 0;
  display: flex;
  gap: 2rem 1rem;
}
 
.nav-item {
  list-style-type: none;
}
 
.nav-item a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: var(--color-text);
  padding: 1rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}
 
.nav-item:hover a {
  background-color: var(--color-primary);
  color: white;
}

/* Hero */

.hero {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  display: flex;
  margin-top: 72px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3.5em;
  font-weight: 800;
  color: var(--color-neutral);
  margin-bottom: 16px;
}

.hero-tagline {
  font-size: 1.25em;
  color: var(--color-tertiary);
}

/* Explore Restaurant */

main {
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.explore-container {
  width: 100%;
  margin: 32px auto;
  text-align: center;
}

.explore-title {
  font-size: 1.25em;
  font-weight: 600;
  color: var(--color-primary);
}

.cards {
  margin: 32px auto auto;
  text-align: left;
}

.card {
  margin: 0 auto;
  padding: 16px;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 0;
}

.love {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: var(--color-neutral);
  cursor: pointer;
}

@keyframes animate8345 {
  0%,100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.empty-message {
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.025em;
  padding: 1rem;
  margin: 3rem auto;
}

/* Loader */

.loader {
  width: 60px;
  height: 60px;
  border: 10px solid var(--color-secondary);
  border-top-color: var(--color-tertiary);
  animation: spin030323 1s linear infinite;
  border-radius: 100%;
}

@keyframes spin030323 {
  to {
    transform: rotate(360deg);
  }
}

/* Page Not Found */

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.page-not-found h2 {
  font-size: 3em;
  margin-bottom: 1rem;
}

.page-not-found p {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

.page-not-found a {
  font-size: 1.2em;
  padding: 1rem 2rem;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-neutral);
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.2s ease-in-out;
}

.page-not-found a:hover {
  background-color: var(--color-neutral);
  color: var(--color-text);
  border: 1px solid var(--color-primary);
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--color-secondary);
  text-align: center;
  padding: 2em;
  bottom: 0;
  left: 0;
}

footer > p {
  font-size: 1em;
  color: var(--color-neutral);
}

footer > p > a {
  padding: 1rem 0.0625rem;
  text-decoration: none;
  margin-right: 0.5em;
  color: var(--color-neutral);
}

footer > p > a:hover {
  text-decoration: underline;
}